.navbar-custom {
  background-color: #1AA6D9;
  border-color: #1AA6D9;
  border-radius: 0px;
  margin-bottom: 20px;
}

/* .card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
} */

.custom-btn {
  background-color: #1AA6D9;
  color: #ffffff;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.navbar-custom .navbar-brand:hover {
  color: #F5F5F5;
}
.chart {
  width: 100%; 
  min-height: 450px;
}