.navbar-custom {
  background-color: #337ab7;
  border-color: #337ab7;
  border-radius: 0px;
  margin-bottom: 20px;
}

.navbar-custom .navbar-brand {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.navbar-custom .navbar-brand:hover {
  color: #F5F5F5;
}
